* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("./assets/bg.png") no-repeat center center fixed;
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
  position: relative;
  font-family: "Poppins", serif;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
  background-color: #000;
  overflow: auto;
}

.logo {
  width: 60%;
}

.line {
  border-left: 0.125rem solid #fff;
  height: 50px;
  margin-left: -23rem;
}

.list {
  color: #fff;
  list-style-type: none;
  margin-left: -20rem;
}

.list-item {
  display: inline-block;
  margin-right: 1.563rem;
  position: relative;
  padding-right: 20px;
}

li:nth-child(1)::before {
  white-space: normal;
  content:"";
  position: absolute;
  height: 0.3vw;
  width: 0.3vw;
  margin-top: 10px;
  margin-left: 63px ;
  border-style: solid;
  border-color: white;
  border-width: 0px 2px 2px 0px;
  transform: rotate(45deg);
}

.button-small{
    background-color: #b605b6;
    color: #fff;
    padding: 0.625rem 1.25rem;
    border-radius: 0.625rem;
}

.hero-heading{
    color: #fff;
    font-size: 5.275rem;
    margin: 4rem 16.225rem 0;
    text-align: center;
    line-height: 1.1;
    font-weight: 600;
}

.hero-description{
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
}

.button-large{
    background-color: #b605b6;
    color: #fff;
    font-size: 1.3rem;
    margin-top: 2.8rem;
    padding: 0.625rem 0.625rem;
    border-radius: 0.625rem;
    border: none;
    text-align: center;
    font-weight: 600;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}